In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Test").master("local[*]").getOrCreate()

24/01/16 20:56:44 WARN Utils: Your hostname, ajith-Lenovo-G50-80 resolves to a loopback address: 127.0.1.1; using 192.168.1.36 instead (on interface wlp3s0)
24/01/16 20:56:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/01/16 20:56:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

24/01/16 21:34:15 WARN DataStreamer: Exception for BP-1451044862-127.0.1.1-1703597630180:blk_1073745724_4900
java.net.SocketTimeoutException: 65000 millis timeout while waiting for channel to be ready for read. ch : java.nio.channels.SocketChannel[connected local=/127.0.0.1:48706 remote=/127.0.0.1:9866]
	at org.apache.hadoop.net.SocketIOWithTimeout.doIO(SocketIOWithTimeout.java:163)
	at org.apache.hadoop.net.SocketInputStream.read(SocketInputStream.java:161)
	at org.apache.hadoop.net.SocketInputStream.read(SocketInputStream.java:131)
	at org.apache.hadoop.net.SocketInputStream.read(SocketInputStream.java:118)
	at java.io.FilterInputStream.read(FilterInputStream.java:83)
	at java.io.FilterInputStream.read(FilterInputStream.java:83)
	at org.apache.hadoop.hdfs.protocolPB.PBHelperClient.vintPrefixed(PBHelperClient.java:519)
	at org.apache.hadoop.hdfs.protocol.datatransfer.PipelineAck.readFields(PipelineAck.java:213)
	at org.apache.hadoop.hdfs.DataStreamer$ResponseProcessor.run(DataStreamer.java:1137)

# SQL

In [23]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
from sqlalchemy import create_engine

In [44]:
#engine=create_engine('postgresql://username:password@hostname/dbname')

In [41]:
%sql postgresql://postgres:admin@localhost/postgres

In [43]:
%%sql

SELECT * 
FROM test;

 * postgresql://postgres:***@localhost/postgres
2 rows affected.

[(1, 'Ram'), (2, 'Roshan')]