# <font color=Blue>Read</font>

In [3]:
import findspark
findspark.init()

In [4]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Read files and JDBC tables").master("local[*]").getOrCreate()

24/03/19 22:39:57 WARN Utils: Your hostname, ajith-Lenovo-G50-80 resolves to a loopback address: 127.0.1.1; using 192.168.1.40 instead (on interface wlp3s0)
24/03/19 22:39:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/03/19 22:39:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

# 01. Read CSV file

PySpark supports reading a CSV file with a pipe, comma, tab, space, or any other delimiter/separator files. You can read .csv files using below 2 read formats.

- csv("path")
- format("csv").load("path")

#### Using spark.read.csv("path") method

In [6]:
df1 = spark.read.csv("file:///home/hadoop/Downloads/USA_Presc_Medicare_Data_2021.csv")

In [7]:
df1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)

#### Using spark.read.format("csv").load("path") method

In [8]:
df2 = spark.read.format("csv").load("file:///home/hadoop/Downloads/USA_Presc_Medicare_Data_2021.csv")

In [9]:
df2.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)

By default it reads the data into dataframe columns as _c0, _c1 and so on. And datatype as String

## Add options

### Header

In [10]:
df1 = spark.read.option("header", True).csv("file:///home/hadoop/Downloads/USA_Presc_Medicare_Data_2021.csv")
df1.printSchema()

root
 |-- npi: string (nullable = true)
 |-- nppes_provider_last_org_name: string (nullable = true)
 |-- nppes_provider_first_name: string (nullable = true)
 |-- nppes_provider_city: string (nullable = true)
 |-- nppes_provider_state: string (nullable = true)
 |-- specialty_description: string (nullable = true)
 |-- description_flag: string (nullable = true)
 |-- drug_name: string (nullable = true)
 |-- generic_name: string (nullable = true)
 |-- bene_count: string (nullable = true)
 |-- total_claim_count: string (nullable = true)
 |-- total_30_day_fill_count: string (nullable = true)
 |-- total_day_supply: string (nullable = true)
 |-- total_drug_cost: string (nullable = true)
 |-- bene_count_ge65: string (nullable = true)
 |-- bene_count_ge65_suppress_flag: string (nullable = true)
 |-- total_claim_count_ge65: string (nullable = true)
 |-- ge65_suppress_flag: string (nullable = true)
 |-- total_30_day_fill_count_ge65: string (nullable = true)
 |-- total_day_supply_ge65: string (nullable = true)
 |-- total_drug_cost_ge65: string (nullable = true)
 |-- year_exp: string (nullable = true)

In [11]:
df2 = spark.read.format("csv").option("header", True).load("file:///home/hadoop/Downloads/USA_Presc_Medicare_Data_2021.csv")
df2.printSchema()

root
 |-- npi: string (nullable = true)
 |-- nppes_provider_last_org_name: string (nullable = true)
 |-- nppes_provider_first_name: string (nullable = true)
 |-- nppes_provider_city: string (nullable = true)
 |-- nppes_provider_state: string (nullable = true)
 |-- specialty_description: string (nullable = true)
 |-- description_flag: string (nullable = true)
 |-- drug_name: string (nullable = true)
 |-- generic_name: string (nullable = true)
 |-- bene_count: string (nullable = true)
 |-- total_claim_count: string (nullable = true)
 |-- total_30_day_fill_count: string (nullable = true)
 |-- total_day_supply: string (nullable = true)
 |-- total_drug_cost: string (nullable = true)
 |-- bene_count_ge65: string (nullable = true)
 |-- bene_count_ge65_suppress_flag: string (nullable = true)
 |-- total_claim_count_ge65: string (nullable = true)
 |-- ge65_suppress_flag: string (nullable = true)
 |-- total_30_day_fill_count_ge65: string (nullable = true)
 |-- total_day_supply_ge65: string (nullable = true)
 |-- total_drug_cost_ge65: string (nullable = true)
 |-- year_exp: string (nullable = true)

- This option is used to read the **first line** of the CSV file as **column names**. 
- By default the value of this option is **False**, and all column types are assumed to be a **string**.

### Delimeter

In [12]:
df3 = spark.read.option("header", True) \
                .option("delimeter", ",") \
                .csv("file:///home/hadoop/Downloads/USA_Presc_Medicare_Data_2021.csv")

df3.printSchema()

root
 |-- npi: string (nullable = true)
 |-- nppes_provider_last_org_name: string (nullable = true)
 |-- nppes_provider_first_name: string (nullable = true)
 |-- nppes_provider_city: string (nullable = true)
 |-- nppes_provider_state: string (nullable = true)
 |-- specialty_description: string (nullable = true)
 |-- description_flag: string (nullable = true)
 |-- drug_name: string (nullable = true)
 |-- generic_name: string (nullable = true)
 |-- bene_count: string (nullable = true)
 |-- total_claim_count: string (nullable = true)
 |-- total_30_day_fill_count: string (nullable = true)
 |-- total_day_supply: string (nullable = true)
 |-- total_drug_cost: string (nullable = true)
 |-- bene_count_ge65: string (nullable = true)
 |-- bene_count_ge65_suppress_flag: string (nullable = true)
 |-- total_claim_count_ge65: string (nullable = true)
 |-- ge65_suppress_flag: string (nullable = true)
 |-- total_30_day_fill_count_ge65: string (nullable = true)
 |-- total_day_supply_ge65: string (nullable = true)
 |-- total_drug_cost_ge65: string (nullable = true)
 |-- year_exp: string (nullable = true)

- By default, it is comma (,) character 
- but can be set to any character like pipe(|), tab (\t), space using this option.

Above one can also be written using options()

In [16]:
df4 = spark.read.options(header='True', delimeter=',').csv('file:///home/hadoop/Downloads/USA_Presc_Medicare_Data_2021.csv')
df4.printSchema()

root
 |-- npi: string (nullable = true)
 |-- nppes_provider_last_org_name: string (nullable = true)
 |-- nppes_provider_first_name: string (nullable = true)
 |-- nppes_provider_city: string (nullable = true)
 |-- nppes_provider_state: string (nullable = true)
 |-- specialty_description: string (nullable = true)
 |-- description_flag: string (nullable = true)
 |-- drug_name: string (nullable = true)
 |-- generic_name: string (nullable = true)
 |-- bene_count: string (nullable = true)
 |-- total_claim_count: string (nullable = true)
 |-- total_30_day_fill_count: string (nullable = true)
 |-- total_day_supply: string (nullable = true)
 |-- total_drug_cost: string (nullable = true)
 |-- bene_count_ge65: string (nullable = true)
 |-- bene_count_ge65_suppress_flag: string (nullable = true)
 |-- total_claim_count_ge65: string (nullable = true)
 |-- ge65_suppress_flag: string (nullable = true)
 |-- total_30_day_fill_count_ge65: string (nullable = true)
 |-- total_day_supply_ge65: string (nullable = true)
 |-- total_drug_cost_ge65: string (nullable = true)
 |-- year_exp: string (nullable = true)

### InferSchema

In [19]:
df1 = spark.read.option("header", True) \
                .option("delimeter", ",") \
                .option("inferSchema", True) \
                .csv("file:///home/hadoop/Downloads/USA_Presc_Medicare_Data_2021.csv")

df1.printSchema()

root
 |-- npi: integer (nullable = true)
 |-- nppes_provider_last_org_name: string (nullable = true)
 |-- nppes_provider_first_name: string (nullable = true)
 |-- nppes_provider_city: string (nullable = true)
 |-- nppes_provider_state: string (nullable = true)
 |-- specialty_description: string (nullable = true)
 |-- description_flag: string (nullable = true)
 |-- drug_name: string (nullable = true)
 |-- generic_name: string (nullable = true)
 |-- bene_count: integer (nullable = true)
 |-- total_claim_count: integer (nullable = true)
 |-- total_30_day_fill_count: double (nullable = true)
 |-- total_day_supply: integer (nullable = true)
 |-- total_drug_cost: double (nullable = true)
 |-- bene_count_ge65: integer (nullable = true)
 |-- bene_count_ge65_suppress_flag: string (nullable = true)
 |-- total_claim_count_ge65: integer (nullable = true)
 |-- ge65_suppress_flag: string (nullable = true)
 |-- total_30_day_fill_count_ge65: double (nullable = true)
 |-- total_day_supply_ge65: integer (nullable = true)
 |-- total_drug_cost_ge65: double (nullable = true)
 |-- year_exp: string (nullable = true)

In [24]:
display(df1)

+----------+----------------------------+-------------------------+-------------------+--------------------+---------------------+----------------+--------------------+--------------------+----------+-----------------+-----------------------+----------------+---------------+---------------+-----------------------------+----------------------+------------------+----------------------------+---------------------+--------------------+--------+
|       npi|nppes_provider_last_org_name|nppes_provider_first_name|nppes_provider_city|nppes_provider_state|specialty_description|description_flag|           drug_name|        generic_name|bene_count|total_claim_count|total_30_day_fill_count|total_day_supply|total_drug_cost|bene_count_ge65|bene_count_ge65_suppress_flag|total_claim_count_ge65|ge65_suppress_flag|total_30_day_fill_count_ge65|total_day_supply_ge65|total_drug_cost_ge65|year_exp|
+----------+----------------------------+-------------------------+-------------------+--------------------+---------------------+----------------+--------------------+--------------------+----------+-----------------+-----------------------+----------------+---------------+---------------+-----------------------------+----------------------+------------------+----------------------------+---------------------+--------------------+--------+
|1437118403|                       QUINN|                   RACHEL|      FORT ATKINSON|                  WI|      Family Practice|               S|METHENAMINE HIPPU...|METHENAMINE HIPPU...|      null|             null|                   13.0|             366|        1159.13|           null|                            *|                  null|                 *|                        null|                 null|                null|   = 2.0|
|1437118403|                       QUINN|                   RACHEL|      FORT ATKINSON|                  WI|      Family Practice|               S|METHENAMINE HIPPU...|METHENAMINE HIPPU...|      null|               99|                   13.0|             366|        1159.13|           null|                            *|                  null|                 *|                        null|                 null|                null|   = 2.0|
|1841297421|                   SIFUENTES|                    JORGE|             BORGER|                  TX|     General Practice|               S|            NYSTATIN|            NYSTATIN|        19|               40|                   40.0|             450|         623.64|           null|                            #|                    29|              null|                        29.0|                  333|              436.93|   = 9.0|
|1770522567|                 VAN DE BEEK|                       M.|       PHILADELPHIA|                  PA|      Family Practice|               S|          CLONAZEPAM|          CLONAZEPAM|      null|               24|                   32.0|             960|         118.55|           null|                            #|                  null|                 #|                        null|                 null|                null|  = 10.0|
|1497789556|                      GRAHAM|                      BOB|          NASHVILLE|                  TN|    Internal Medicine|               S|           CELECOXIB|           CELECOXIB|      null|               27|                   41.0|            1230|        1221.21|           null|                            *|                    27|              null|                        41.0|                 1230|             1221.21|  = 12.0|
|1417913278|                     JOHNSON|                    DIANE|            MINEOLA|                  NY|   Infectious Disease|               S|SULFAMETHOXAZOLE-...|SULFAMETHOXAZOLE/...|      null|               12|                   12.0|             360|          77.57|              0|                         null|                     0|              null|                         0.0|                    0|                 0.0|  = 25.0|
|1437108628|                    HOWERTON|                    SHAWN|           ROSEBORO|                  NC|      Family Practice|               S|        KLOR-CON M20|  POTASSIUM CHLORIDE|      null|               27|                   31.0|             930|          309.6|           null|                            *|                    27|              null|                        31.0|                  930|               309.6|   = 3.0|
|1770779761|                      KONTIR|                  NATALEE|         HOMER CITY|                  PA|      Family Practice|               S|   ZOLPIDEM TARTRATE|   ZOLPIDEM TARTRATE|      null|               18|                   26.0|             780|          40.76|           null|                            *|                    18|              null|                        26.0|                  780|               40.76|   = 6.0|
|1518906262|                    MATTIACE|                  WILLIAM|       WILLIAMSPORT|                  PA|      Family Practice|               S|                null|ROSUVASTATIN CALCIUM|        13|               67|                   91.0|            2730|       22141.56|           null|                            #|                  null|                 #|                        null|                 null|                null|   = 6.0|
|1437312485|                   GERRIETTS|                 JENNIFER|           JOHNSTON|                  IA|      Family Practice|               S|     INSULIN SYRINGE|SYRING-NEEDL,DISP...|      null|               17|                   17.3|             465|         515.41|           null|                            *|                    17|              null|                        17.3|                  465|              515.41|  = 19.0|
|1083631832|                    MORAYATI|                   SHAMIL|         BURLINGTON|                  NC|    Internal Medicine|               S|         AMOXICILLIN|         AMOXICILLIN|      null|               11|                   11.0|              97|          53.06|           null|                            *|                    11|              null|                        11.0|                   97|               53.06|  = 11.0|
|1932141819|                   SHOEMAKER|                  ABIGAIL|         WORTINGTON|                  OH|      Family Practice|               S|  PRAVASTATIN SODIUM|  PRAVASTATIN SODIUM|      null|               24|                   48.0|            1440|         643.93|           null|                            *|                    24|              null|                        48.0|                 1440|              643.93|   = 9.0|
|1760574123|                    BRADSHAW|                    TONDA|            YUCAIPA|                  CA|    Internal Medicine|               S|     LANTUS SOLOSTAR|INSULIN GLARGINE,...|        11|               80|                  103.2|            3009|       40241.11|           null|                            *|                    65|              null|                        88.2|                 2571|            35212.73|   = 9.0|
|1093078644|                       ARORA|                   PUNEET|          WORCESTER|                  MA|              Dentist|               T|     CLINDAMYCIN HCL|     CLINDAMYCIN HCL|        17|               22|                   22.0|             141|         174.73|           null|                            *|                  null|                 *|                        null|                 null|                null|  = 28.0|
|1881693331|                     ALUNDAY|                   ARTHUR|         GREENSBURG|                  IN|    Internal Medicine|               S|     ONDANSETRON HCL|     ONDANSETRON HCL|      null|               14|                   14.0|              91|         148.77|           null|                            *|                    14|              null|                        14.0|                   91|              148.77|   = 7.0|
|1376579706|                        CHAN|                      TZE|             NEWTON|                  IA|    Internal Medicine|               S|      CHOLESTYRAMINE|CHOLESTYRAMINE (W...|      null|               16|                   16.0|             480|         402.17|           null|                            *|                  null|                 *|                        null|                 null|                null|  = 28.0|
|1497790661|                     JOHNSON|                     PAUL|       GARDEN GROVE|                  CA|      Family Practice|               S| QUETIAPINE FUMARATE| QUETIAPINE FUMARATE|        14|               51|                   69.1|            2043|        1467.93|           null|                            *|                    18|              null|                        26.1|                  753|              244.99|   = 9.0|
|1508831496|                 REYES-ORTIZ|                  ARNALDO|            HUMACAO|                  PR|     General Practice|               S|           IBUPROFEN|           IBUPROFEN|      null|               51|                   51.0|            1168|         286.38|           null|                            *|                  null|                 *|                        null|                 null|                null|  = 20.0|
|1962478495|                      VERGIS|                  EMANUEL|         PITTSBURGH|                  PA|   Infectious Disease|               S|    SELENIUM SULFIDE|    SELENIUM SULFIDE|      null|               11|                   11.0|             330|           75.0|              0|                         null|                     0|              null|                         0.0|                    0|                 0.0|  = 10.0|
|1467653683|                        HALL|                      AMI|            NEWBURY|                  OH|      Family Practice|               S|     WARFARIN SODIUM|     WARFARIN SODIUM|      null|               21|                   39.0|            1158|         196.02|           null|                            #|                  null|                 #|                        null|                 null|                null|  = 21.0|
+----------+----------------------------+-------------------------+-------------------+--------------------+---------------------+----------------+--------------------+--------------------+----------+-----------------+-----------------------+----------------+---------------+---------------+-----------------------------+----------------------+------------------+----------------------------+---------------------+--------------------+--------+
only showing top 20 rows

In [21]:
df2 = spark.read.format("csv") \
                .option("header", True) \
                .option("inferSchema", True) \
                .option("delimeter", ",") \
                .load("file:///home/hadoop/Downloads/USA_Presc_Medicare_Data_2021.csv")

df2.printSchema()

root
 |-- npi: integer (nullable = true)
 |-- nppes_provider_last_org_name: string (nullable = true)
 |-- nppes_provider_first_name: string (nullable = true)
 |-- nppes_provider_city: string (nullable = true)
 |-- nppes_provider_state: string (nullable = true)
 |-- specialty_description: string (nullable = true)
 |-- description_flag: string (nullable = true)
 |-- drug_name: string (nullable = true)
 |-- generic_name: string (nullable = true)
 |-- bene_count: integer (nullable = true)
 |-- total_claim_count: integer (nullable = true)
 |-- total_30_day_fill_count: double (nullable = true)
 |-- total_day_supply: integer (nullable = true)
 |-- total_drug_cost: double (nullable = true)
 |-- bene_count_ge65: integer (nullable = true)
 |-- bene_count_ge65_suppress_flag: string (nullable = true)
 |-- total_claim_count_ge65: integer (nullable = true)
 |-- ge65_suppress_flag: string (nullable = true)
 |-- total_30_day_fill_count_ge65: double (nullable = true)
 |-- total_day_supply_ge65: integer (nullable = true)
 |-- total_drug_cost_ge65: double (nullable = true)
 |-- year_exp: string (nullable = true)

- inferSchema default value is **False**
- When setting to **True** it automatically infers **column types** based on the data.

In [23]:
display(df2)

+----------+----------------------------+-------------------------+-------------------+--------------------+---------------------+----------------+--------------------+--------------------+----------+-----------------+-----------------------+----------------+---------------+---------------+-----------------------------+----------------------+------------------+----------------------------+---------------------+--------------------+--------+
|       npi|nppes_provider_last_org_name|nppes_provider_first_name|nppes_provider_city|nppes_provider_state|specialty_description|description_flag|           drug_name|        generic_name|bene_count|total_claim_count|total_30_day_fill_count|total_day_supply|total_drug_cost|bene_count_ge65|bene_count_ge65_suppress_flag|total_claim_count_ge65|ge65_suppress_flag|total_30_day_fill_count_ge65|total_day_supply_ge65|total_drug_cost_ge65|year_exp|
+----------+----------------------------+-------------------------+-------------------+--------------------+---------------------+----------------+--------------------+--------------------+----------+-----------------+-----------------------+----------------+---------------+---------------+-----------------------------+----------------------+------------------+----------------------------+---------------------+--------------------+--------+
|1437118403|                       QUINN|                   RACHEL|      FORT ATKINSON|                  WI|      Family Practice|               S|METHENAMINE HIPPU...|METHENAMINE HIPPU...|      null|             null|                   13.0|             366|        1159.13|           null|                            *|                  null|                 *|                        null|                 null|                null|   = 2.0|
|1437118403|                       QUINN|                   RACHEL|      FORT ATKINSON|                  WI|      Family Practice|               S|METHENAMINE HIPPU...|METHENAMINE HIPPU...|      null|               99|                   13.0|             366|        1159.13|           null|                            *|                  null|                 *|                        null|                 null|                null|   = 2.0|
|1841297421|                   SIFUENTES|                    JORGE|             BORGER|                  TX|     General Practice|               S|            NYSTATIN|            NYSTATIN|        19|               40|                   40.0|             450|         623.64|           null|                            #|                    29|              null|                        29.0|                  333|              436.93|   = 9.0|
|1770522567|                 VAN DE BEEK|                       M.|       PHILADELPHIA|                  PA|      Family Practice|               S|          CLONAZEPAM|          CLONAZEPAM|      null|               24|                   32.0|             960|         118.55|           null|                            #|                  null|                 #|                        null|                 null|                null|  = 10.0|
|1497789556|                      GRAHAM|                      BOB|          NASHVILLE|                  TN|    Internal Medicine|               S|           CELECOXIB|           CELECOXIB|      null|               27|                   41.0|            1230|        1221.21|           null|                            *|                    27|              null|                        41.0|                 1230|             1221.21|  = 12.0|
|1417913278|                     JOHNSON|                    DIANE|            MINEOLA|                  NY|   Infectious Disease|               S|SULFAMETHOXAZOLE-...|SULFAMETHOXAZOLE/...|      null|               12|                   12.0|             360|          77.57|              0|                         null|                     0|              null|                         0.0|                    0|                 0.0|  = 25.0|
|1437108628|                    HOWERTON|                    SHAWN|           ROSEBORO|                  NC|      Family Practice|               S|        KLOR-CON M20|  POTASSIUM CHLORIDE|      null|               27|                   31.0|             930|          309.6|           null|                            *|                    27|              null|                        31.0|                  930|               309.6|   = 3.0|
|1770779761|                      KONTIR|                  NATALEE|         HOMER CITY|                  PA|      Family Practice|               S|   ZOLPIDEM TARTRATE|   ZOLPIDEM TARTRATE|      null|               18|                   26.0|             780|          40.76|           null|                            *|                    18|              null|                        26.0|                  780|               40.76|   = 6.0|
|1518906262|                    MATTIACE|                  WILLIAM|       WILLIAMSPORT|                  PA|      Family Practice|               S|                null|ROSUVASTATIN CALCIUM|        13|               67|                   91.0|            2730|       22141.56|           null|                            #|                  null|                 #|                        null|                 null|                null|   = 6.0|
|1437312485|                   GERRIETTS|                 JENNIFER|           JOHNSTON|                  IA|      Family Practice|               S|     INSULIN SYRINGE|SYRING-NEEDL,DISP...|      null|               17|                   17.3|             465|         515.41|           null|                            *|                    17|              null|                        17.3|                  465|              515.41|  = 19.0|
|1083631832|                    MORAYATI|                   SHAMIL|         BURLINGTON|                  NC|    Internal Medicine|               S|         AMOXICILLIN|         AMOXICILLIN|      null|               11|                   11.0|              97|          53.06|           null|                            *|                    11|              null|                        11.0|                   97|               53.06|  = 11.0|
|1932141819|                   SHOEMAKER|                  ABIGAIL|         WORTINGTON|                  OH|      Family Practice|               S|  PRAVASTATIN SODIUM|  PRAVASTATIN SODIUM|      null|               24|                   48.0|            1440|         643.93|           null|                            *|                    24|              null|                        48.0|                 1440|              643.93|   = 9.0|
|1760574123|                    BRADSHAW|                    TONDA|            YUCAIPA|                  CA|    Internal Medicine|               S|     LANTUS SOLOSTAR|INSULIN GLARGINE,...|        11|               80|                  103.2|            3009|       40241.11|           null|                            *|                    65|              null|                        88.2|                 2571|            35212.73|   = 9.0|
|1093078644|                       ARORA|                   PUNEET|          WORCESTER|                  MA|              Dentist|               T|     CLINDAMYCIN HCL|     CLINDAMYCIN HCL|        17|               22|                   22.0|             141|         174.73|           null|                            *|                  null|                 *|                        null|                 null|                null|  = 28.0|
|1881693331|                     ALUNDAY|                   ARTHUR|         GREENSBURG|                  IN|    Internal Medicine|               S|     ONDANSETRON HCL|     ONDANSETRON HCL|      null|               14|                   14.0|              91|         148.77|           null|                            *|                    14|              null|                        14.0|                   91|              148.77|   = 7.0|
|1376579706|                        CHAN|                      TZE|             NEWTON|                  IA|    Internal Medicine|               S|      CHOLESTYRAMINE|CHOLESTYRAMINE (W...|      null|               16|                   16.0|             480|         402.17|           null|                            *|                  null|                 *|                        null|                 null|                null|  = 28.0|
|1497790661|                     JOHNSON|                     PAUL|       GARDEN GROVE|                  CA|      Family Practice|               S| QUETIAPINE FUMARATE| QUETIAPINE FUMARATE|        14|               51|                   69.1|            2043|        1467.93|           null|                            *|                    18|              null|                        26.1|                  753|              244.99|   = 9.0|
|1508831496|                 REYES-ORTIZ|                  ARNALDO|            HUMACAO|                  PR|     General Practice|               S|           IBUPROFEN|           IBUPROFEN|      null|               51|                   51.0|            1168|         286.38|           null|                            *|                  null|                 *|                        null|                 null|                null|  = 20.0|
|1962478495|                      VERGIS|                  EMANUEL|         PITTSBURGH|                  PA|   Infectious Disease|               S|    SELENIUM SULFIDE|    SELENIUM SULFIDE|      null|               11|                   11.0|             330|           75.0|              0|                         null|                     0|              null|                         0.0|                    0|                 0.0|  = 10.0|
|1467653683|                        HALL|                      AMI|            NEWBURY|                  OH|      Family Practice|               S|     WARFARIN SODIUM|     WARFARIN SODIUM|      null|               21|                   39.0|            1158|         196.02|           null|                            #|                  null|                 #|                        null|                 null|                null|  = 21.0|
+----------+----------------------------+-------------------------+-------------------+--------------------+---------------------+----------------+--------------------+--------------------+----------+-----------------+-----------------------+----------------+---------------+---------------+-----------------------------+----------------------+------------------+----------------------------+---------------------+--------------------+--------+
only showing top 20 rows

## User Specified Schema

In [ ]:
schema = StructType() \
      .add("RecordNumber",IntegerType(),True) \
      .add("Zipcode",IntegerType(),True) \
      .add("ZipCodeType",StringType(),True) \
      .add("City",StringType(),True) \
      .add("State",StringType(),True) \
      .add("LocationType",StringType(),True) \
      .add("Lat",DoubleType(),True) \
      .add("Long",DoubleType(),True) \
      .add("Xaxis",IntegerType(),True) \
      .add("Yaxis",DoubleType(),True) \
      .add("Zaxis",DoubleType(),True) \
      .add("WorldRegion",StringType(),True) \
      .add("Country",StringType(),True) \
      .add("LocationText",StringType(),True) \
      .add("Location",StringType(),True) \
      .add("Decommisioned",BooleanType(),True) \
      .add("TaxReturnsFiled",StringType(),True) \
      .add("EstimatedPopulation",IntegerType(),True) \
      .add("TotalWages",IntegerType(),True) \
      .add("Notes",StringType(),True)

In [ ]:
      
df_with_schema = spark.read.format("csv") \
                        .option("header", True) \
                        .schema(schema) \
                        .load("/tmp/resources/zipcodes.csv")

## Read multiple CSV files

Using the **spark.read.csv("path")** method you can also read multiple csv files

In [ ]:
df = spark.read.csv("/path1/fileName1.csv, /path2/fileName2.csv, /path3/fileName3.csv")

## Read all CSVs in a folder

Using the **spark.read.csv("path")** method you can read all csv files in a directory

In [ ]:
df = spark.read.csv("/folder/path")

or

folder_path = "/full/folder/path"
df = spark.read.csv(folder_path)

# 02. Read JSON file

By default JSON data source **inferschema** from an input file. You can use below 2 methods to read JSON files.

- json("path")
- format("json").load("path")

#### Using spark.read.json("path") method

In [26]:
df1 = spark.read.json("file:///home/hadoop/Downloads/USA_City.json")
df1.printSchema()

root
 |-- city: string (nullable = true)
 |-- city_ascii: string (nullable = true)
 |-- county_fips: long (nullable = true)
 |-- county_name: string (nullable = true)
 |-- density: long (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- population: long (nullable = true)
 |-- state_id: string (nullable = true)
 |-- state_name: string (nullable = true)
 |-- timezone: string (nullable = true)
 |-- zips: string (nullable = true)

In [33]:
display(df1)

+-------------+-------------+-----------+--------------------+-------+-------+---------+----------+--------+--------------------+-------------------+--------------------+
|         city|   city_ascii|county_fips|         county_name|density|    lat|      lng|population|state_id|          state_name|           timezone|                zips|
+-------------+-------------+-----------+--------------------+-------+-------+---------+----------+--------+--------------------+-------------------+--------------------+
|     New York|     New York|      36061|            New York|  10715|40.6943| -73.9249|  18713220|      NY|            New York|   America/New_York|11229 11226 11225...|
|  Los Angeles|  Los Angeles|       6037|         Los Angeles|   3276|34.1139|-118.4068|  12750807|      CA|          California|America/Los_Angeles|90291 90293 90292...|
|      Chicago|      Chicago|      17031|                Cook|   4574|41.8373| -87.6862|   8604203|      IL|            Illinois|    America/Chicago|60018 60649 60641...|
|        Miami|        Miami|      12086|          Miami-Dade|   5019|25.7839| -80.2102|   6445545|      FL|             Florida|   America/New_York|33129 33125 33126...|
|       Dallas|       Dallas|      48113|              Dallas|   1526|32.7936| -96.7662|   5743938|      TX|               Texas|    America/Chicago|75287 75098 75233...|
| Philadelphia| Philadelphia|      42101|        Philadelphia|   4554|40.0077| -75.1339|   5649300|      PA|        Pennsylvania|   America/New_York|19154 19151 19150...|
|      Houston|      Houston|      48201|              Harris|   1399|29.7863| -95.3889|   5464251|      TX|               Texas|    America/Chicago|77069 77068 77061...|
|      Atlanta|      Atlanta|      13121|              Fulton|   1441|33.7627| -84.4224|   5449398|      GA|             Georgia|   America/New_York|30334 30331 30332...|
|   Washington|   Washington|      11001|District of Columbia|   4457|38.9047| -77.0163|   5379184|      DC|District of Columbia|   America/New_York|20010 20011 20012...|
|       Boston|       Boston|      25025|             Suffolk|   5532|42.3188| -71.0846|   4688346|      MA|       Massachusetts|   America/New_York|02120 02121 02122...|
|      Phoenix|      Phoenix|       4013|            Maricopa|   1253|33.5722|-112.0891|   4219697|      AZ|             Arizona|    America/Phoenix|85008 85009 85006...|
|      Seattle|      Seattle|      53033|                King|   3469|47.6211|-122.3244|   3789215|      WA|          Washington|America/Los_Angeles|98109 98108 98104...|
|San Francisco|San Francisco|       6075|       San Francisco|   7256|37.7562| -122.443|   3592294|      CA|          California|America/Los_Angeles|94130 94131 94132...|
|      Detroit|      Detroit|      26163|               Wayne|   1864|42.3834| -83.1024|   3506126|      MI|            Michigan|    America/Detroit|48209 48208 48201...|
|    San Diego|    San Diego|       6073|           San Diego|   1686|32.8312|-117.1225|   3220118|      CA|          California|America/Los_Angeles|92109 92108 92103...|
|  Minneapolis|  Minneapolis|      27053|            Hennepin|   3071|44.9635| -93.2678|   2977172|      MN|           Minnesota|    America/Chicago|55403 55409 55408...|
|        Tampa|        Tampa|      12057|        Hillsborough|   1353|27.9942| -82.4451|   2908063|      FL|             Florida|   America/New_York|33637 33629 33621...|
|       Denver|       Denver|       8031|              Denver|   1831|39.7621|-104.8759|   2876625|      CO|            Colorado|     America/Denver|80264 80230 80231...|
|     Brooklyn|     Brooklyn|      36047|               Kings|  14221|40.6501| -73.9496|   2559903|      NY|            New York|   America/New_York|11212 11213 11216...|
|       Queens|       Queens|      36081|              Queens|   7885|40.7498| -73.7976|   2230722|      NY|            New York|   America/New_York|11361 11362 11363...|
+-------------+-------------+-----------+--------------------+-------+-------+---------+----------+--------+--------------------+-------------------+--------------------+
only showing top 20 rows

In [27]:
df2 = spark.read.format("json").load("file:///home/hadoop/Downloads/USA_City.json")
df2.printSchema()

root
 |-- city: string (nullable = true)
 |-- city_ascii: string (nullable = true)
 |-- county_fips: long (nullable = true)
 |-- county_name: string (nullable = true)
 |-- density: long (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- population: long (nullable = true)
 |-- state_id: string (nullable = true)
 |-- state_name: string (nullable = true)
 |-- timezone: string (nullable = true)
 |-- zips: string (nullable = true)

In [31]:
df2.show()

+-------------+-------------+-----------+--------------------+-------+-------+---------+----------+--------+--------------------+-------------------+--------------------+
|         city|   city_ascii|county_fips|         county_name|density|    lat|      lng|population|state_id|          state_name|           timezone|                zips|
+-------------+-------------+-----------+--------------------+-------+-------+---------+----------+--------+--------------------+-------------------+--------------------+
|     New York|     New York|      36061|            New York|  10715|40.6943| -73.9249|  18713220|      NY|            New York|   America/New_York|11229 11226 11225...|
|  Los Angeles|  Los Angeles|       6037|         Los Angeles|   3276|34.1139|-118.4068|  12750807|      CA|          California|America/Los_Angeles|90291 90293 90292...|
|      Chicago|      Chicago|      17031|                Cook|   4574|41.8373| -87.6862|   8604203|      IL|            Illinois|    America/Chicago|60018 60649 60641...|
|        Miami|        Miami|      12086|          Miami-Dade|   5019|25.7839| -80.2102|   6445545|      FL|             Florida|   America/New_York|33129 33125 33126...|
|       Dallas|       Dallas|      48113|              Dallas|   1526|32.7936| -96.7662|   5743938|      TX|               Texas|    America/Chicago|75287 75098 75233...|
| Philadelphia| Philadelphia|      42101|        Philadelphia|   4554|40.0077| -75.1339|   5649300|      PA|        Pennsylvania|   America/New_York|19154 19151 19150...|
|      Houston|      Houston|      48201|              Harris|   1399|29.7863| -95.3889|   5464251|      TX|               Texas|    America/Chicago|77069 77068 77061...|
|      Atlanta|      Atlanta|      13121|              Fulton|   1441|33.7627| -84.4224|   5449398|      GA|             Georgia|   America/New_York|30334 30331 30332...|
|   Washington|   Washington|      11001|District of Columbia|   4457|38.9047| -77.0163|   5379184|      DC|District of Columbia|   America/New_York|20010 20011 20012...|
|       Boston|       Boston|      25025|             Suffolk|   5532|42.3188| -71.0846|   4688346|      MA|       Massachusetts|   America/New_York|02120 02121 02122...|
|      Phoenix|      Phoenix|       4013|            Maricopa|   1253|33.5722|-112.0891|   4219697|      AZ|             Arizona|    America/Phoenix|85008 85009 85006...|
|      Seattle|      Seattle|      53033|                King|   3469|47.6211|-122.3244|   3789215|      WA|          Washington|America/Los_Angeles|98109 98108 98104...|
|San Francisco|San Francisco|       6075|       San Francisco|   7256|37.7562| -122.443|   3592294|      CA|          California|America/Los_Angeles|94130 94131 94132...|
|      Detroit|      Detroit|      26163|               Wayne|   1864|42.3834| -83.1024|   3506126|      MI|            Michigan|    America/Detroit|48209 48208 48201...|
|    San Diego|    San Diego|       6073|           San Diego|   1686|32.8312|-117.1225|   3220118|      CA|          California|America/Los_Angeles|92109 92108 92103...|
|  Minneapolis|  Minneapolis|      27053|            Hennepin|   3071|44.9635| -93.2678|   2977172|      MN|           Minnesota|    America/Chicago|55403 55409 55408...|
|        Tampa|        Tampa|      12057|        Hillsborough|   1353|27.9942| -82.4451|   2908063|      FL|             Florida|   America/New_York|33637 33629 33621...|
|       Denver|       Denver|       8031|              Denver|   1831|39.7621|-104.8759|   2876625|      CO|            Colorado|     America/Denver|80264 80230 80231...|
|     Brooklyn|     Brooklyn|      36047|               Kings|  14221|40.6501| -73.9496|   2559903|      NY|            New York|   America/New_York|11212 11213 11216...|
|       Queens|       Queens|      36081|              Queens|   7885|40.7498| -73.7976|   2230722|      NY|            New York|   America/New_York|11361 11362 11363...|
+-------------+-------------+-----------+--------------------+-------+-------+---------+----------+--------+--------------------+-------------------+--------------------+
only showing top 20 rows

## Read Multiline JSON file

In [39]:
df3 = spark.read.option("multiline", True) \
                .json("file:///home/hadoop/Downloads/multiline-zipcode.json")

df3.printSchema()

root
 |-- City: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- Zipcode: long (nullable = true)

In [40]:
display(df3)
df3.show()

+-------------------+------------+-----+-----------+-------+
|               City|RecordNumber|State|ZipCodeType|Zipcode|
+-------------------+------------+-----+-----------+-------+
|PASEO COSTA DEL SUR|           2|   PR|   STANDARD|    704|
|       BDA SAN LUIS|          10|   PR|   STANDARD|    709|
+-------------------+------------+-----+-----------+-------+

+-------------------+------------+-----+-----------+-------+
|               City|RecordNumber|State|ZipCodeType|Zipcode|
+-------------------+------------+-----+-----------+-------+
|PASEO COSTA DEL SUR|           2|   PR|   STANDARD|    704|
|       BDA SAN LUIS|          10|   PR|   STANDARD|    709|
+-------------------+------------+-----+-----------+-------+

In [43]:
df4 = spark.read.format("json") \
                .option("multiline", True) \
                .load("file:///home/hadoop/Downloads/multiline-zipcode.json")

df4.printSchema()

root
 |-- City: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- Zipcode: long (nullable = true)

In [44]:
display(df4)
df4.show()

+-------------------+------------+-----+-----------+-------+
|               City|RecordNumber|State|ZipCodeType|Zipcode|
+-------------------+------------+-----+-----------+-------+
|PASEO COSTA DEL SUR|           2|   PR|   STANDARD|    704|
|       BDA SAN LUIS|          10|   PR|   STANDARD|    709|
+-------------------+------------+-----+-----------+-------+

+-------------------+------------+-----+-----------+-------+
|               City|RecordNumber|State|ZipCodeType|Zipcode|
+-------------------+------------+-----+-----------+-------+
|PASEO COSTA DEL SUR|           2|   PR|   STANDARD|    704|
|       BDA SAN LUIS|          10|   PR|   STANDARD|    709|
+-------------------+------------+-----+-----------+-------+

By default multiline option, is set to false.

## Reading multiple JSON files

In [ ]:
df = spark.read.json(["/file/path/fileName1.jsom", "/file/path/fileName2.json"])

- Using **spark.read.json("path")** method you can also read multiple JSON files from different paths, 
- just pass all file names with fully qualified paths by separating comma,

## Reading all JSON files in a directory

In [ ]:
df = spark.read.json("/folder/path/*.json")

- Using **spark.read.json("path")** method you can read all the json files present in a folder

## Reading User Specified schema

In [ ]:
schema = StrutType([
                    StructField("State", StringType(), True),
                    StructField("City", StringType(), True),
                    StructField("ZipCodes", IntegerType(), True)    
                ])

In [ ]:
df = spark.read.schema(schema) \
                .json("file/path/fileName.json")
or

df = spark.read.format("json") \
                .schema(schema) \
                .load("/file/path/fileName.json")

# 03. Read Parquet