In [1]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine

In [3]:
%sql postgresql://postgres:root@localhost/Practice

# Question

[LeetCode 601](https://leetcode.com/problems/human-traffic-of-stadium/description/)

### <font color=blue> Write a query to display the records which have 3 or more consecutive rows with the amount of people more than 100(inclusive) each day.</font>

In [5]:
%%sql

create table stadium (
    id int,
    visit_date date,
    no_of_people int
);


insert into stadium
values (1,'2017-07-01',10)
,(2,'2017-07-02',109)
,(3,'2017-07-03',150)
,(4,'2017-07-04',99)
,(5,'2017-07-05',145)
,(6,'2017-07-06',1455)
,(7,'2017-07-07',199)
,(8,'2017-07-08',188);

 * postgresql://postgres:***@localhost/Practice
Done.
8 rows affected.

[]

## Solution 1

In [15]:
%%sql

WITH grp_number as (
    select *, 
    row_number() over(order by visit_date) as row_num,
    id-row_number() over(order by visit_date) as grp
    from stadium
    where no_of_people >= 100
)
select id, visit_date, no_of_people
from grp_number
where grp in (select grp
            from grp_number
            group by grp
            having count(grp) >= 3
             )

 * postgresql://postgres:***@localhost/Practice
4 rows affected.

[(5, datetime.date(2017, 7, 5), 145),
 (6, datetime.date(2017, 7, 6), 1455),
 (7, datetime.date(2017, 7, 7), 199),
 (8, datetime.date(2017, 7, 8), 188)]

## Solution 2

In [22]:
%%sql

WITH CTE As (
SELECT *, lead(no_of_people, 1) over(order by visit_date) AS lead_1st_day,
lead(no_of_people, 2) over(order by visit_date) AS lead_2nd_day,
lag(no_of_people, 1) over(order by visit_date) AS lag_1st_day,
lag(no_of_people, 2) over(order by visit_date) AS lag_2nd_day
from stadium )
SELECT id, visit_date, no_of_people
FROM CTE
where no_of_people >= 100 and ((lead_1st_day >= 100 and lead_2nd_day >= 100) or 
                               (lag_1st_day >= 100 and lag_2nd_day >= 100) or
                               (lead_1st_day >= 100 and lag_1st_day >= 100)                              
                              )

 * postgresql://postgres:***@localhost/Practice
4 rows affected.

[(5, datetime.date(2017, 7, 5), 145),
 (6, datetime.date(2017, 7, 6), 1455),
 (7, datetime.date(2017, 7, 7), 199),
 (8, datetime.date(2017, 7, 8), 188)]