In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Find Duplicates").master("local[*]").getOrCreate()

24/02/27 00:11:59 WARN Utils: Your hostname, ajith-Lenovo-G50-80 resolves to a loopback address: 127.0.1.1; using 192.168.1.40 instead (on interface wlp3s0)
24/02/27 00:11:59 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/02/27 00:12:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

### Find the duplicate records in a dataframe

In [7]:
def create_dataframe():
    from pyspark.sql.types import StructType, StructField, IntegerType, StringType 
    
    data = [
             (1, "Arjun Patel", "Male", 30, 60000, "Aarav Sharma"),
             (2, "Aarav Sharma", "Male", 28, 55000, "Zara Singh"),
             (3, "Zara Singh", "Female", 35, 70000, "Arjun Patel"),
             (4, "Priya Reddy", "Female", 32, 65000, "Aarav Sharma"),
             (1, "Arjun Patel", "Male", 30, 60000, "Aarav Sharma"),
             (6, "Naina Verma", "Female", 31, 72000, "Arjun Patel"),
             (1, "Arjun Patel", "Male", 30, 60000, "Aarav Sharma"),
             (4, "Priya Reddy", "Female", 32, 65000, "Aarav Sharma"),
             (5, "Aditya Kapoor", "Male", 28, 58000, "Zara Singh"),
             (10, "Anaya Joshi", "Female", 27, 59000, "Aarav Sharma"),
             (11, "Rohan Malhotra", "Male", 36, 73000, "Zara Singh"),
             (3, "Zara Singh", "Female", 35, 70000, "Arjun Patel")
            ]
    
    schema = StructType([
                         StructField("emp_id", IntegerType(), True),
                         StructField("emp_name", StringType(), True),
                         StructField("emp_gender", StringType(), True),
                         StructField("emp_age", IntegerType(), True),
                         StructField("emp_salary", IntegerType(), True),
                         StructField("emp_manager", StringType(), True)
                        ])
    
    return spark.createDataFrame(data=data, schema=schema)

In [8]:
df = create_dataframe()
df.show()

+------+--------------+----------+-------+----------+------------+
|emp_id|      emp_name|emp_gender|emp_age|emp_salary| emp_manager|
+------+--------------+----------+-------+----------+------------+
|     1|   Arjun Patel|      Male|     30|     60000|Aarav Sharma|
|     2|  Aarav Sharma|      Male|     28|     55000|  Zara Singh|
|     3|    Zara Singh|    Female|     35|     70000| Arjun Patel|
|     4|   Priya Reddy|    Female|     32|     65000|Aarav Sharma|
|     1|   Arjun Patel|      Male|     30|     60000|Aarav Sharma|
|     6|   Naina Verma|    Female|     31|     72000| Arjun Patel|
|     1|   Arjun Patel|      Male|     30|     60000|Aarav Sharma|
|     4|   Priya Reddy|    Female|     32|     65000|Aarav Sharma|
|     5| Aditya Kapoor|      Male|     28|     58000|  Zara Singh|
|    10|   Anaya Joshi|    Female|     27|     59000|Aarav Sharma|
|    11|Rohan Malhotra|      Male|     36|     73000|  Zara Singh|
|     3|    Zara Singh|    Female|     35|     70000| Arjun Patel|
+------+--------------+----------+-------+----------+------------+

In [17]:
def solution(df):
    from pyspark.sql.functions import col
    
    group_df = df.groupBy(df.columns).count()
    filter_df = group_df.where(col('count')>1)
    final_df = filter_df.drop(col('count'))
    
    return final_df

In [18]:
outDf = solution(df)
outDf.show()

+------+-----------+----------+-------+----------+------------+
|emp_id|   emp_name|emp_gender|emp_age|emp_salary| emp_manager|
+------+-----------+----------+-------+----------+------------+
|     1|Arjun Patel|      Male|     30|     60000|Aarav Sharma|
|     3| Zara Singh|    Female|     35|     70000| Arjun Patel|
|     4|Priya Reddy|    Female|     32|     65000|Aarav Sharma|
+------+-----------+----------+-------+----------+------------+