In [5]:
import findspark
findspark.init()

In [7]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ThoghtWorks - Strong Friendship").master("local[*]").getOrCreate()

In [8]:
spark

# Question

## Write a query to find all the strong friendship. A friendship between a pair of friends if x and y have at three common friends.

#### Note that result table should not contain duplicates with user1_id < user2_id

In [9]:
data = [('1','2'), ('1','3'), ('2','3'), ('1','4'), ('2','4'), ('1','5'), ('2','5'), ('1','7'), ('3','7'), ('1','6'), ('3','6'), ('2','6')]
schema = ['user1_id', 'user2_id']
df = spark.createDataFrame(data, schema)
df.show()

+--------+--------+
|user1_id|user2_id|
+--------+--------+
|       1|       2|
|       1|       3|
|       2|       3|
|       1|       4|
|       2|       4|
|       1|       5|
|       2|       5|
|       1|       7|
|       3|       7|
|       1|       6|
|       3|       6|
|       2|       6|
+--------+--------+

In [24]:
""" 1 = [2, 3, 4, 5, 7, 6]
    2 = [3, 4, 5, 6]
    3 = [7, 6]
    
    there are 4 common friends between 1 & 2 they are:[3, 4, 5, 6] 
              2 common friends between 1 & 3 they are:[7, 6]
"""

' 1 = [2, 3, 4, 5, 7, 6]\n    2 = [3, 4, 5, 6]\n    3 = [7, 6]\n    \n    there are 4 common friends between 1 & 2 they are:[3, 4, 5, 6] \n              2 common friends between 1 & 3 they are:[7, 6]\n'

## Solution

In [10]:
from pyspark.sql.functions import col

df1 = df.select(col("user2_id").alias("user1_id"), col("user1_id").alias("user2_id"))
df1.show()

+--------+--------+
|user1_id|user2_id|
+--------+--------+
|       2|       1|
|       3|       1|
|       3|       2|
|       4|       1|
|       4|       2|
|       5|       1|
|       5|       2|
|       7|       1|
|       7|       3|
|       6|       1|
|       6|       3|
|       6|       2|
+--------+--------+

In [11]:
df_union = df.union(df1)

df_union.show()

+--------+--------+
|user1_id|user2_id|
+--------+--------+
|       1|       2|
|       1|       3|
|       2|       3|
|       1|       4|
|       2|       4|
|       1|       5|
|       2|       5|
|       1|       7|
|       3|       7|
|       1|       6|
|       3|       6|
|       2|       6|
|       2|       1|
|       3|       1|
|       3|       2|
|       4|       1|
|       4|       2|
|       5|       1|
|       5|       2|
|       7|       1|
+--------+--------+
only showing top 20 rows

In [13]:
# to do self join

df_union_1 = df_union.select(col('user1_id').alias('user1'),col('user2_id').alias('user2'))

df_final = df_union.join(df_union_1)

df_final.show()

+--------+--------+-----+-----+
|user1_id|user2_id|user1|user2|
+--------+--------+-----+-----+
|       1|       2|    1|    2|
|       1|       2|    1|    3|
|       1|       2|    2|    3|
|       1|       3|    1|    2|
|       1|       3|    1|    3|
|       1|       3|    2|    3|
|       2|       3|    1|    2|
|       2|       3|    1|    3|
|       2|       3|    2|    3|
|       1|       2|    1|    4|
|       1|       2|    2|    4|
|       1|       2|    1|    5|
|       1|       3|    1|    4|
|       1|       3|    2|    4|
|       1|       3|    1|    5|
|       2|       3|    1|    4|
|       2|       3|    2|    4|
|       2|       3|    1|    5|
|       1|       2|    2|    5|
|       1|       2|    1|    7|
+--------+--------+-----+-----+
only showing top 20 rows

In [14]:
df_final_1 = df_final.filter((df_union.user1_id < df_union_1.user1) & (df_union.user2_id == df_union_1.user2))

df_final_1.show()

+--------+--------+-----+-----+
|user1_id|user2_id|user1|user2|
+--------+--------+-----+-----+
|       2|       1|    3|    1|
|       2|       1|    4|    1|
|       2|       1|    5|    1|
|       2|       1|    7|    1|
|       2|       1|    6|    1|
|       3|       1|    4|    1|
|       3|       1|    5|    1|
|       3|       1|    7|    1|
|       3|       1|    6|    1|
|       4|       1|    5|    1|
|       4|       1|    7|    1|
|       4|       1|    6|    1|
|       5|       1|    7|    1|
|       5|       1|    6|    1|
|       6|       1|    7|    1|
|       1|       2|    3|    2|
|       1|       2|    4|    2|
|       1|       2|    5|    2|
|       1|       2|    6|    2|
|       3|       2|    4|    2|
+--------+--------+-----+-----+
only showing top 20 rows

In [22]:
df_final_2 = df_final_1.groupBy('user1_id', 'user1').count()

df_final_2.show()

+--------+-----+-----+
|user1_id|user1|count|
+--------+-----+-----+
|       1|    4|    1|
|       4|    6|    2|
|       2|    3|    2|
|       5|    7|    1|
|       1|    2|    4|
|       2|    6|    2|
|       2|    4|    1|
|       1|    5|    1|
|       1|    3|    3|
|       6|    7|    2|
|       3|    5|    2|
|       3|    4|    2|
|       3|    6|    2|
|       1|    7|    1|
|       4|    7|    1|
|       4|    5|    2|
|       1|    6|    2|
|       2|    7|    2|
|       2|    5|    1|
|       3|    7|    1|
+--------+-----+-----+
only showing top 20 rows

In [23]:
df_res = df_final_2.filter(col('count') > 2)

df_res.show()

+--------+-----+-----+
|user1_id|user1|count|
+--------+-----+-----+
|       1|    2|    4|
|       1|    3|    3|
+--------+-----+-----+