# <font color=Blue>Aggregate Functions</font>

* Aggregate functions operate on a group of rows and returns a single value

In [ ]:
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.show(truncate=False)

In [ ]:
# Output
+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

### 1) avg()

In [ ]:
res_df = df.select(avg("salary"))
res_df.show()

### 2) collecct_list()

* collect_list() returns all values from an input column **with duplicates**

In [ ]:
res_df = df.select(collect_list("salary"))
res_df.show()

### 3) collecct_set()

* collect_set() returns all values from an input column **without duplicates**

In [ ]:
res_df = df.select(collect_set())
res_df.show(truncate=False)

### 4) countDistinct()

* countDistinct() retruns returnds number of distinct elements