In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Test").master("local[*]").getOrCreate()

24/01/17 23:45:18 WARN Utils: Your hostname, ajith-Lenovo-G50-80 resolves to a loopback address: 127.0.1.1; using 192.168.1.36 instead (on interface wlp3s0)
24/01/17 23:45:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/01/17 23:45:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/01/17 23:45:20 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

# SQL

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
from sqlalchemy import create_engine

In [44]:
#engine=create_engine('postgresql://username:password@hostname/dbname')

In [6]:
%sql postgresql://postgres:root@localhost/postgres

In [7]:
%%sql

SELECT * 
FROM test;

 * postgresql://postgres:***@localhost/postgres
2 rows affected.

[(1, 'Ram'), (2, 'Roshan')]