In [2]:
%load_ext sql

In [3]:
from sqlalchemy import create_engine

In [4]:
%sql postgresql://postgres:root@localhost/Practice

# Question

### <font color=blue> The table logs the spending's history of users that make purchases from an online shopping website which has a desktop and a mobile application. Write an SQL query to find the total number of users and the total amount spent using mobile only, desktop only and both mobile and desktop together for each date.</font>

In [10]:
%%sql

CREATE TYPE device AS ENUM ('desktop', 'mobile');

CREATE TABLE Spending 
(
     user_id INT,
     spend_date Date,
     platform device,
     amount INT
);

 * postgresql://postgres:***@localhost/Practice
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

In [11]:
%%sql

INSERT INTO Spending (user_id, spend_date, platform, amount) VALUES ('1', '2019-07-01', 'mobile', '100');
INSERT INTO Spending (user_id, spend_date, platform, amount) VALUES ('1', '2019-07-01', 'desktop', '100');
INSERT INTO Spending (user_id, spend_date, platform, amount) VALUES ('2', '2019-07-01', 'mobile', '100');
INSERT INTO Spending (user_id, spend_date, platform, amount) VALUES ('2', '2019-07-02', 'mobile', '100');
INSERT INTO Spending (user_id, spend_date, platform, amount) VALUES ('3', '2019-07-01', 'desktop', '100');
INSERT INTO Spending (user_id, spend_date, platform, amount) VALUES ('3', '2019-07-02', 'desktop', '100');

 * postgresql://postgres:***@localhost/Practice
   postgresql://postgres:***@localhost/postgres
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## Solution

In [5]:
%%sql

SELECT * FROM Spending;

 * postgresql://postgres:***@localhost/Practice
6 rows affected.

[(1, datetime.date(2019, 7, 1), 'mobile', 100),
 (1, datetime.date(2019, 7, 1), 'desktop', 100),
 (2, datetime.date(2019, 7, 1), 'mobile', 100),
 (2, datetime.date(2019, 7, 2), 'mobile', 100),
 (3, datetime.date(2019, 7, 1), 'desktop', 100),
 (3, datetime.date(2019, 7, 2), 'desktop', 100)]

In [5]:
%%sql

WITH all_spend AS (SELECT spend_date, user_id, max(platform) as platform, sum(amount) as amount
FROM Spending
GROUP BY spend_date, user_id
HAVING COUNT(DISTINCT platform)=1
union all
SELECT spend_date, user_id, 'both' as platform, sum(amount) as amount
FROM Spending
GROUP BY spend_date, user_id
HAVING COUNT(DISTINCT platform)=2)

SELECT spend_date, platform, sum(amount) as total_amount, count(distinct user_id) as total_users
from all_spend
GROUP BY spend_date, platform
ORDER BY spend_date, platform desc;

 * postgresql://postgres:***@localhost/Practice
(psycopg2.errors.InvalidTextRepresentation) invalid input value for enum device: "both"
LINE 6: SELECT spend_date, user_id, 'both' as platform, sum(amount) ...
                                    ^

[SQL: WITH all_spend AS (SELECT spend_date, user_id, max(platform) as platform, sum(amount) as amount
FROM Spending
GROUP BY spend_date, user_id
HAVING COUNT(DISTINCT platform)=1
union all
SELECT spend_date, user_id, 'both' as platform, sum(amount) as amount
FROM Spending
GROUP BY spend_date, user_id
HAVING COUNT(DISTINCT platform)=2)

SELECT spend_date, platform, sum(amount) as total_amount, count(distinct user_id) as total_users
from all_spend
GROUP BY spend_date, platform
ORDER BY spend_date, platform desc;]
(Background on this error at: https://sqlalche.me/e/20/9h9h)