In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
from sqlalchemy import create_engine

In [8]:
%sql postgresql://postgres:root@localhost/Practice

In [10]:
%%sql

CREATE TYPE device AS ENUM ('desktop', 'mobile');

CREATE TABLE Spending 
(
     user_id INT,
     spend_date Date,
     platform device,
     amount INT
);

 * postgresql://postgres:***@localhost/Practice
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

In [11]:
%%sql

INSERT INTO Spending (user_id, spend_date, platform, amount) VALUES ('1', '2019-07-01', 'mobile', '100');
INSERT INTO Spending (user_id, spend_date, platform, amount) VALUES ('1', '2019-07-01', 'desktop', '100');
INSERT INTO Spending (user_id, spend_date, platform, amount) VALUES ('2', '2019-07-01', 'mobile', '100');
INSERT INTO Spending (user_id, spend_date, platform, amount) VALUES ('2', '2019-07-02', 'mobile', '100');
INSERT INTO Spending (user_id, spend_date, platform, amount) VALUES ('3', '2019-07-01', 'desktop', '100');
INSERT INTO Spending (user_id, spend_date, platform, amount) VALUES ('3', '2019-07-02', 'desktop', '100');

 * postgresql://postgres:***@localhost/Practice
   postgresql://postgres:***@localhost/postgres
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [12]:
%%sql

SELECT * FROM Spending;

 * postgresql://postgres:***@localhost/Practice
   postgresql://postgres:***@localhost/postgres
6 rows affected.

[(1, datetime.date(2019, 7, 1), 'mobile', 100),
 (1, datetime.date(2019, 7, 1), 'desktop', 100),
 (2, datetime.date(2019, 7, 1), 'mobile', 100),
 (2, datetime.date(2019, 7, 2), 'mobile', 100),
 (3, datetime.date(2019, 7, 1), 'desktop', 100),
 (3, datetime.date(2019, 7, 2), 'desktop', 100)]

### <font color=blue> The table logs the spending's history of users that make purchases from an online shopping website which has a desktop and a mobile application.</font>

### Write an SQL query to find the total number of users and the total amount spent using mobile only, desktop only and both mobile and desktop together for each date.