In [1]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine

In [3]:
%sql postgresql://postgres:root@localhost/Practice

# Question

### Write a SQL query for getting average processing time from Input table

In [5]:
%%sql

CREATE TABLE fact_machine
(
    MachineId Int,
    processingID Int,
    activityType varchar(100),
    timestamp numeric(14, 3)
);

Insert Into fact_machine
values
(0, 0, 'Start', 0.712),
(0, 0, 'End', 1.520),
(0, 1, 'Start', 3.140),
(0, 1, 'End', 4.120),
(1, 0, 'Start', 0.550),
(1, 0, 'End', 1.550),
(1, 1, 'Start', 0.430),
(1, 1, 'End', 1.420),
(2, 0, 'Start', 4.100),
(2, 0, 'End', 4.512),
(2, 1, 'Start', 2.500),
(2, 1, 'End', 5.000)

 * postgresql://postgres:***@localhost/Practice
Done.
12 rows affected.

[]

In [6]:
%%sql

SELECT * FROM fact_machine;

 * postgresql://postgres:***@localhost/Practice
12 rows affected.

[(0, 0, 'Start', Decimal('0.712')),
 (0, 0, 'End', Decimal('1.520')),
 (0, 1, 'Start', Decimal('3.140')),
 (0, 1, 'End', Decimal('4.120')),
 (1, 0, 'Start', Decimal('0.550')),
 (1, 0, 'End', Decimal('1.550')),
 (1, 1, 'Start', Decimal('0.430')),
 (1, 1, 'End', Decimal('1.420')),
 (2, 0, 'Start', Decimal('4.100')),
 (2, 0, 'End', Decimal('4.512')),
 (2, 1, 'Start', Decimal('2.500')),
 (2, 1, 'End', Decimal('5.000'))]

## Solution

In [15]:
%%sql


WITH CTE AS(
select machineid, processingid, MAX(case when activitytype='Start' then timestamp END) as starttime, 
        MAX(case when activitytype='End' then timestamp END) as endtime    
from fact_machine
group by machineid, processingid
order by machineid, processingid
)
select machineid, ROUND(AVG(endtime-starttime), 3) as avg_processingtime
from CTE
group by machineid

 * postgresql://postgres:***@localhost/Practice
3 rows affected.

[(0, Decimal('0.894')), (1, Decimal('0.995')), (2, Decimal('1.456'))]