In [1]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine

In [3]:
%sql postgresql://postgres:root@localhost/Practice

# Question

## Write a SQL query to find the Apple product corresponding to the store

In [4]:
%%sql


drop table if exists product_demo;
create table product_demo
(
	store_id	int,
	product_1	varchar(50),
	product_2	varchar(50)
);
insert into product_demo values (1, 'Apple - IPhone', '   Apple - MacBook Pro');
insert into product_demo values (1, 'Apple - AirPods', 'Samsung - Galaxy Phone');
insert into product_demo values (2, 'Apple_IPhone', 'Apple: Phone');
insert into product_demo values (2, 'Google Pixel', ' apple: Laptop');
insert into product_demo values (2, 'Sony: Camera', 'Apple Vision Pro');
insert into product_demo values (3, 'samsung - Galaxy Phone', 'mapple MacBook Pro');

select * from product_demo;

 * postgresql://postgres:***@localhost/Practice
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
6 rows affected.

[(1, 'Apple - IPhone', '   Apple - MacBook Pro'),
 (1, 'Apple - AirPods', 'Samsung - Galaxy Phone'),
 (2, 'Apple_IPhone', 'Apple: Phone'),
 (2, 'Google Pixel', ' apple: Laptop'),
 (2, 'Sony: Camera', 'Apple Vision Pro'),
 (3, 'samsung - Galaxy Phone', 'mapple MacBook Pro')]

## Solution

In [7]:
%%sql

select store_id, SUM(case when ltrim(lower(product_1)) like 'apple%' then 1 else 0 end) as product_1
,SUM(case when ltrim(lower(product_2)) like 'apple%' then 1 else 0 end) as product_2
from product_demo
group by store_id
order by store_id

 * postgresql://postgres:***@localhost/Practice
3 rows affected.

[(1, 2, 1), (2, 1, 3), (3, 0, 0)]